.new-quote-form{
    padding: 16px;
    background-color: bisque;
    max-width: 400px;
    height: 60vh;
    box-shadow: 10px 10px 5px lightskyblue;
    border-radius: 5px;
    margin: 30px auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.new-quote-form input{
   box-sizing: border-box;
   margin: 5px;
   width: 100%;
   border-radius: 5px;
   height: 5vh;
   font-size: medium;
}

.new-quote-form label{
     display: block;
     margin: 5px;
}

.new-quote-form textarea{
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 100;
}

.new-quote-form textarea:focus{
    outline: none;
}

button{
    margin-top: 5px;
    color: aliceblue;
    background-color: rgb(7, 77, 7);
    font-size: medium;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
}

